# Data Science Tool and Ecosystem

# **Objectives:**
- List popular languages in Data Science
- List popular libraries in Data Science
- Perform arithmetic operations

## Author
Nishant

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
    
1. Sci-kit learn
2. Numpy
3. Pandas
4. Matplotlib
5. Seaborn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| JupyterLabs |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335